{%- comment -%}
  Reusable image snippet.
  Usage: {% render 'image', image: product.featured_image, url: product.url, class: 'my-class', width: 600 %}
  All params optional except image.
{%- endcomment -%}

{%- liquid
  assign image_object = image
  assign image_link_url = url | default: null
  assign image_class = class | default: ''
  assign image_width = width | default: 800
  assign image_alt = image.alt | default: ''
  assign image_loading = loading | default: 'lazy'
-%}

{%- if image_object != blank -%}
  {%- liquid
    assign image_height = image_width | divided_by: image_object.aspect_ratio | round
  -%}

  {%- if image_link_url != blank -%}
    <a href="{{ image_link_url }}" class="image-link" tabindex="-1" aria-hidden="true">
  {%- endif -%}

  {{-
    image_object
    | image_url: width: image_width
    | image_tag:
      class: image_class,
      alt: image_alt,
      width: image_width,
      height: image_height,
      loading: image_loading,
      widths: '200, 400, 600, 800, 1000, 1200'
  -}}

  {%- if image_link_url != blank -%}
    </a>
  {%- endif -%}

{%- else -%}
  <div class="image-placeholder {{ image_class }}" aria-hidden="true">
    {{- 'product-1' | placeholder_svg_tag: 'placeholder-svg' -}}
  </div>
{%- endif -%}
